.error {
    border-color:red;
}
.add-item {
    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 10px;
    transition-duration: 0.4s;
}

.add-item:hover {
    background-color: #006400; 
    color: white;
  }

.remove-item {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 10px;
    transition-duration: 0.4s;
}

  
  .remove-item:hover {
    background-color: #8B0000; 
    color: white;
  }




.image {
    width:250px;
}

ul {
    list-style-type: none;
    margin-right:20px;
    display: flex;
    flex-direction: column;
}

ul li {
    background: #cce5ff;
    margin: 5px;
    font-family: monospace;
    width:fit-content;
    margin-bottom:10px;
    font-size: 12px;
  }

.invisible {
    display:none;
}

.visible {
    display: block;
}

.error {
    color:red;
    font-size: larger;
    font-weight: bold;
}